h1{
    font-family: Poppins;
}

.content p{
    font-size: 25px;
    text-align: justify;
    font-family: Poppins;
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 200px;
}